@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.map_marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: deepskyblue;
    border: 2px solid white;
    display: block;
}

.user_marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:chartreuse;
    border: 1px solid white;
    display: block;
}

@layer base {
    html {
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        touch-action: none;
    }
}